- name: add GPG key
  get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: add docker repository to apt
  apt_repository:
    repo: deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu jammy stable
    filename: docker.sources
    state: present

- name: apt update
  apt:
    update_cache: yes

- name: install packages
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - docker-ce
    - python3-distutils
    - python3-docker
    - python3-pip
    - python3-setuptools
    - docker-ce-cli 
    - containerd.io 
    - docker-buildx-plugin 
    - docker-compose-plugin

- name: install Docker SDK for Python
  pip:
    name: docker>=5.0.0
    executable: pip3

- name: start docker service
  service:
    name: docker
    state: started
    enabled: yes  
