- name: init/check cluster
  community.docker.docker_swarm:
    state: present
  register: swarm_token
  when: inventory_hostname == "master-1"

- name: Add workers
  community.docker.docker_swarm:
    state: join
    advertise_addr: "{{ ansible_host }}"
    join_token: "{{ hostvars['master-1'].swarm_token.swarm_facts.JoinTokens.Worker }}"
    remote_addrs: "{{ hostvars['master-1'].ansible_host }}"
  when: inventory_hostname in groups['workers']


